body {
  margin: 0;
  padding: 0;
}

/*
  box class
*/
.box-karaage {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.karaage-back {
  width: 100%;
  height: 100%;
  -webkit-filter: blur(7px);
  -moz-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: blur(7px);
  z-index: -1;
  position: absolute;
  overflow: hidden;
}

.box-center {
  left: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
}
.box-center .p-center {
  color: #606060;
  font-family: 'Caveat', cursive;
  font-size: calc(150% + 4 * (100vw - 600px) / 400);
  padding-top: 42.5vh;
  text-align: center;
}
.box-center .p-center2 {
  color: #606060;
  font-family: 'Caveat', cursive;
  font-size: calc(150% + 4 * (100vw - 600px) / 400);
  text-align: center;
}

.img-center {
  text-align: center;
}

.button-center {
  text-align: center;
}

/*
  button
*/
.button {
  margin-top: 12px;
	display: inline-block;
  font-family: 'Caveat', cursive;
  font-size: 20px;
  width: 150px;
	height: 54px;
	text-align: center;
	text-decoration: none;
	outline: none;
}
.button::before,
.button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.button,
.button::before,
.button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.button {
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
	line-height: 50px;
}
.button:hover {
	background-color: rgba(255, 255, 255, .2);
}
.button .font-back{
  background-color: transparent;
  border: 2px solid #606060;
	color: #606060;
}

/*
  link
*/

.box-link {
  padding-top: 10vh;
  padding-left: 5vh;
  padding-right: 5vh;
}

.box-link .box-link-content {
  padding-top: 10px;
  height: 80vh;
  font-family: "Rounded Mplus 1c";
  color: #606060;
  text-align: center;
  background-color: rgba( 200, 200, 200, 0.55 );
  border-radius: 10px;
  margin: auto;
  display: -webkit-flex; /* Safari用 */
  display: flex;
  -webkit-justify-content: center; /* Safari用 */
  justify-content: center;
  -webkit-align-items: center; /* Safari用 */
}
.box-link .box-link-content .button {
  font-family: "Rounded Mplus 1c";
}

/*
  tori box
*/
.box-tori {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/karaage2.jpg");
  background-size: cover;
  background-position: center;
}

/*
  no dot ul
*/
.no-dot {
  list-style:none;
  padding-left: 0;
}
.no-dot li {
  text-align: center;
    display: list-item;
}
